**문제1) 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인하여라.**

* int 25와 int 12를 더하시오.
* int 13에서 int 19를 빼시오.
* int 92과 float 8.0 을 곱하시오.
* float 81.5을 float 2.0으로 나누시오.
* int 7를 int 5로 나눴을 때, quotient를 구하시오.
* int 100을 int 7로 나눈 나머지를 구하시오.
* int 3의 세제곱을 구하시오.

In [1]:
25+12

37

In [2]:
13-19

-6

In [3]:
92*8.0

736.0

In [4]:
81.5/2.0

40.75

In [5]:
7//5

1

In [6]:
100%7

2

In [7]:
3**3

27

**문제2) 다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인하여라.**

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

In [8]:
#int
type(3)

int

In [9]:
#float
type(3.0)

float

In [10]:
#str
type('3')

str

In [11]:
#str
type('3.0')

str

In [13]:
#str
type("3")

str

In [14]:
#str
type("3.0")

str

**문제3) 우유 가격은 820원이고, 아이스크림 가격은 1500원이다. 아이스크림은 3개이상 구입시 5%를 할인해준다. 우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성하여라.**

In [15]:
m = 820
i = 1500
2*i + (3*m*0.95)

5337.0

**문제4) 1㎡는 0.3025평이다. 84㎡는 몇 평인가? 반대로 30평은 몇 ㎡인가?**

In [49]:
m = 0.3025
a = m*84
b = 30/0.3025
print(a)
print(b)

25.41
99.17355371900827

**문제5) 문자열 연산을 이용하여 다음의 실행결과가 나오도록 코드를 작성하여라**

(1)

```
안녕하세요. 안녕하세요. 안녕하세요.
```

(2)
```
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
```

In [51]:
print("안녕하세요. " *3)

안녕하세요. 안녕하세요. 안녕하세요.

In [54]:
print("안녕하세요.\n" *5)

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

**문제6) `dogs`와 `cats` 두 개의 변수가 다음과 같이 선언되었다.**  
`dogs, cats = '12', '7'`  

(1) `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인하여라.  
(2) 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성하여라. 출력된 결과는 아래와 같은 형식이다.
> 강아지가 고양이보다 n 마리 더 많다.

In [58]:
dogs = '12'
cats = '7'
print(type(dogs))
print(type(cats))

<class 'str'>
<class 'str'>

In [64]:
n = int(dogs) - int(cats)
print("강아지가 고양이보다 %d마리 더 많다" %n)

강아지가 고양이보다 5마리 더 많다

**문제7) 다음 문제에 답하여라.**   

`colors = 'red blue yellow'`  

1) `colors`에서 `b`를 추출하는 코드를 작성하라.

2) `colors`에서 `low`를 추출하는 코드를 작성하라.

3) `colors`에서 `due`를 추출하는 코드를 작성하라.

In [65]:
colors = 'red blue yellow'
colors[4]

'b'

In [69]:
colors[12:]

'low'

In [70]:
colors[2] + colors[6] + colors[1]

'due'

**문제8) 다음 문제에 답하여라.**  

1) `'12345' * 3` 한 것을 변수 `nums`에 할당하라.

2) `nums`에서 `111`을 추출하는 코드를 작성하라.

3) `nums`에서 `555`을 추출하는 코드를 작성하라.

In [73]:
nums = '12345'*3
nums

'123451234512345'

In [74]:
nums[0]*3

'111'

In [76]:
nums[-1]*3

'555'